@page "/getconfig"

<PageTitle>Get Configuration</PageTitle>

@using Newtonsoft.Json;
@using Dynamic_Grouping.Data
@using Dynamic_Grouping.Data.Service
@inject SharedDataService shareData
<h1>Combat Unit</h1>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Add Vlan</label>
    <div class="col-sm-10">
        <input type="text" @bind="newVlan.name" />
        <button class="btn btn-primary" @onclick="Ad">Add</button>
    </div>
</div>
<b></b>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Remove Vlan</label>
    <div class="col-sm-10">
        <input type="text" @bind="removeVlan.name" />
        <button class="btn btn-primary" @onclick="Rm">Remove</button>
    </div>
</div>
@if (shareData.getCfgService.JsonData==null)
{
    <p><em>Loading...</em></p>
}
else
{
//interfaces
@foreach (var vlan in shareData.vlanList)
{
    <h2>@vlan.Key</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Port</th>
                    <th>Military Power</th>
                    <th>Move</th>
                </tr>
            </thead>
                <tbody>
                    @foreach(var host in shareData.getCfgService.hostsData.Hosts)
                    {
                        if (vlan.Value.Contains(host.devicePort))
                        {
                            <tr>
                                <td>@host.devicePort</td>
                                <td>@host.militaryPower</td>
                                @foreach (var temphost in shareData.getCfgService.hostVlan.Hosts)
                                {
                                    if (temphost.Mac == host.Mac)
                                    {
                                        <td>
                                                <select id="role-select" @bind="temphost.vpls">
                                                    @foreach (var option in shareData.vlanList)
                                                    {
                                                        <option value="@option.Key" selected="@(option.Key==temphost.vpls)">@option.Key</option>
                                                    }
                                                </select>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    }    
            </tbody>
        </table>
    }
}
<button class="btn btn-primary" @onclick="Update">Update</button>
<p>@shareData.postCfgService.serializedJson</p><b></b>
<p>Success:@count</p><b></b>
<p>time:@shareData.Data</p>
@code {
    private Dictionary<string, string> ifaceVpls = new Dictionary<string, string>();
    private VplsInfo newVlan = new VplsInfo();
    private VplsInfo removeVlan = new VplsInfo();
    private int count = 0;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        shareData.OnDataUpdated += UpdateUI;
        shareData.getCfgService.hostVlan = shareData.getCfgService.hostsData;
    }
    private async Task UpdateUI()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        shareData.OnDataUpdated -= UpdateUI;
    }
    private void Ad()
    {
        if (shareData.vlanList.ContainsKey(newVlan.name))
        {
            newVlan.name += " exist.";
        }
        else
        {
            shareData.vlanList.Add(newVlan.name,newVlan.interfaces);
            newVlan.name = "";
        }
    }
    private void Rm()
    {
        if (!shareData.vlanList.ContainsKey(removeVlan.name))
        {
            removeVlan.name += " doesn't exist.";
        }
        else
        {
            //move to Available
            /*foreach (var iface in shareData.vlanList[removeVlan.name])
                {
                shareData.vlanList["Available"].Add(iface);
            }*/
            shareData.vlanList.Remove(removeVlan.name);
            foreach (var host in shareData.getCfgService.hostsData.Hosts)
            {
                if (host.vpls == removeVlan.name)
                {
                    host.vpls = "Available";
                }
            }
            removeVlan.name = "";
        }
    }
    private void Update()
    {
        while (!shareData.isfinish) ;
        foreach (var host in shareData.getCfgService.hostsData.Hosts)
        {
            foreach (var newhost in shareData.getCfgService.hostVlan.Hosts)
            {
                if (host.devicePort == newhost.devicePort)
                {
                    host.vpls = newhost.vpls;
                }
            }
        }
    }
}